* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
  cursor: pointer;
}

.done {
  text-decoration: line-through;
}

span {
  font-size: 30px;
  margin-right: 50px;
}
